{% extends 'base.html' %}
{% load static %}


{% block iconBanner %}
    <div class="logo">
        <img src="{% static 'web/img/finspace.png' %}" alt="icon" class="bannerImg">
    </div>
{% endblock %}

{% block application %}
    <div class="container appSpace">
        <div class="row">
            <div class="col-2 configurador">
                <h3>CONFIGURADOR</h3>
                <div class="container">
                    <div class="row margin_TopDef centerTextAling">
                        <label for="seleccionarEvento">
                            <select class="sea" id="seleccionarEvento">
                                <option value="none">----</option>
                                <option value="VP">Valor presente</option>
                                <option value="VF">Valor futuro</option>
                            </select>
                        </label>
                    </div>
                    <div class="row margin_TopDef centerTextAling"><h4>TIPO DE TABLA:</h4></div>
                    <div class="row margin_TopRel ">
                        <div class="col">
                            <h6>Amortizacion</h6>
                        </div>
                        <div class="col">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col">
                            <h6>Capitalizacion</h6>
                        </div>
                    </div>
                    <div class="row margin_TopDef centerTextAling"><h4>TIPO DE SERIE:</h4></div>
                    <div class="row margin_TopRel ">
                        <div class="col">
                            <h6>Uniforme</h6>
                        </div>
                        <div class="col">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col">
                            <h6>Variable</h6>
                        </div>
                    </div>
                    <div class="row margin_TopDef centerTextAling"><h4>MODALIDAD DE PAGO:</h4></div>
                    <div class="row margin_TopRel ">
                        <div class="col">
                            <h6>Anticipado</h6>
                        </div>
                        <div class="col">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col">
                            <h6>Vencido</h6>
                        </div>
                    </div>
                    <div class="row margin_TopDef ">
                        <div class="col-8">
                            <h5>Peridodo de gracia:</h5>
                        </div>
                        <div class="col-2">
                            <label class="switch ">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="row margin_TopDef ">
                        <div class="col-8">
                            <h5>Tiempo del periodo de gracia:</h5>
                        </div>
                        <div class="col-2">
                            <label class="inputSpecial" for="perdido_gracia">
                                <input  id="perdido_gracia" type="number">
                            </label>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-2 variables">
                <h3>VARIABLES</h3>
                <div class="container abc">
                    <div class="row margin_TopDef">
                        <label for="VP">
                            VP
                            <input type="number" class="VP" id="VP">
                        </label>
                    </div>
                    <div class="row margin_TopDef">
                        <label for="VF">
                            VF
                            <input type="number" class="VF" id="VF">
                        </label>
                    </div>
                    <div class="row margin_TopDef">
                        <label for="interes">
                            Interes
                            <input type="number" class="interes" id="interes">
                        </label>
                    </div>
                    <div class="row margin_TopDef">
                        <label for="G">
                            G
                            <input type="number" class="G" id="G">
                        </label>
                    </div>
                    <div class="row margin_TopDef">
                        <label for="A">
                            A
                            <input type="number" class="A" id="A">
                        </label>
                    </div>
                    <div class="row margin_TopDef">
                        <label for="N">
                            N
                            <input type="number" class="N" id="N">
                        </label>
                    </div>
                    <div class="row margin_TopDef">
                        <label for="J">
                            J
                            <input type="number" class="J" id="J">
                        </label>
                    </div>
                    <div class="row  margin_TopDef">
                        <button class="calcular">CALCULAR</button>
                    </div>
                </div>

            </div>
            <div class="col resultados">
                <h3> RESULTADOS</h3>
            </div>
        </div>
    </div>


    <script src="{% static 'web/js/sistema.js' %}"></script>
{% endblock %}
