{% extends 'base.html' %}
{% load static %}


{% block iconBanner %}
    <div class="logo">
        <img src="{% static 'web/img/finspace.png' %}" alt="icon" class="bannerImg">
    </div>
{% endblock %}

{% block application %}
    <div class="container appSpace">
        <div class="row">
            <div class="col-2 configurador scrollY">
                <h3>CONFIGURADOR</h3>
                <div class="container">

                    <!--Seleccionar el  -->
                    <div class="row margin_TopDef centerTextAling"><h4>Temporalidad</h4></div>
                    <div class="row margin_TopDef centerTextAling">
                        <label for="seleccionarTempo">
                            <select class="sef" id="seleccionarTempo">
                                <option value="none">----</option>
                                <option value="presente">Presente</option>
                                <option value="futuro">Futuro</option>
                            </select>
                        </label>
                    </div>

                    <div class="row margin_TopDef centerTextAling"><h4>MODALIDAD DE PAGO:</h4></div>
                    <div class="row margin_TopDef centerTextAling ">
                        <label for="seleccionarPago">
                            <select id="seleccionarPago" class="sed">
                                <option value="none">----</option>
                                <option value="anticipada">Anticipada</option>
                                <option value="vencida">Vencida</option>
                                <option value="decreciente">Decreciente</option>
                                <option value="creciente">Creciente</option>
                            </select>
                        </label>
                    </div>

                    <div class="row margin_TopDef centerTextAling"><h4>¿Que desea hacer?:</h4></div>
                    <div class="row margin_TopDef centerTextAling ">
                        <label for="seleccionarTabla">
                            <select id="seleccionarTabla" class="seb">
                                <option value="none">----</option>
                                <option value="amortizacion">Amortizacion</option>
                                <option value="capitalizacion">Capitalizacion</option>
                            </select>
                        </label>
                    </div>

                    <div class="row margin_TopDef centerTextAling"><h4>TIPO DE SERIE:</h4></div>
                    <div class="row margin_TopDef centerTextAling">
                        <label for="seleccionarSerie">
                            <select id="seleccionarSerie" class="sec">
                                <option value="none">----</option>
                                <option value="uniforme">Uniforme</option>
                                <option value="variable">Variable</option>
                            </select>
                        </label>
                    </div>
                </div>

            </div>
            <div class="col-2 variables">
                <h3>VARIABLES</h3>
                <div class="container abc">
                    <div class="row margin_TopDef" id="V_View">
                        <label for="V" >
                            Valor
                            <input type="number" class="V" id="V">
                        </label>
                    </div>
                    <div class="row margin_TopDef" id="Interes_View">
                        <label for="interes" >
                            Interes
                            <input type="number" class="interes" id="interes">
                        </label>
                    </div>
                    <div class="row margin_TopDef" id="G_View">
                        <label for="G">
                            G
                            <input type="number" class="G" id="G">
                        </label>
                    </div>
                    <div class="row margin_TopDef" id="A_View">
                        <label for="A">
                            A
                            <input type="number" class="A" id="A">
                        </label>
                    </div>
                    <div class="row margin_TopDef" id="N_View">
                        <label for="N">
                            N
                            <input type="number" class="N" id="N">
                        </label>
                    </div>
                    <div class="row margin_TopDef" id="J_View">
                        <label for="J">
                            J
                            <input type="number" class="J" id="J">
                        </label>
                    </div>
                    <div class="row  margin_TopDef">
                        <button class="calcular">CALCULAR</button>
                    </div>
                </div>

            </div>
            <div class="col resultados">
                <h3> RESULTADOS</h3>
                <div class="container">
                    <div class="row margin_TopDef reulstado_calculo" id="resultado_calculo">

                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="{% static 'web/js/sistema.js' %}"></script>
{% endblock %}
